{% comment %}
    Renders a dropdown element

    Accepts:
    - options: The options to render as options (required)
    - hint_text: {String} the text to display as a hint (optional)
    - label_text: {String} the text to display as the label
    - label_class: {String} any custom classes for the label element
    - container_classes: {String} add custom classes to the container
    - id: {String} ID to be applied to the input
    - classes: {String} custom classes to be applied to the input (optional)
    - name: {String} the name attribute of the input
    - attributes: {String} add custom element attributes (data-* or aria)
    - required: {Boolean} use if the input cannot be submitted unless a value is provided
    - data_aid: {String} data aid for the dropdown
    - form_id: {String} the form id to be used for the form attribute (optional)
    - error_message: {String} the error message to display if the input is invalid

    Usage:
      {% render 'form-input--dropdown' with id: 'contact-form--dropdown', name: 'properties[dropdown]', attributes: 'aria-label="Option dropdown"', required: true  %}
{% endcomment %}

{{ 'component-dropdown.min.css' | asset_url | stylesheet_tag }}

<safe-load-scripts class="hidden">
  <script src="{{ 'component-theme-dropdown.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="theme-dropdown"></script>
</safe-load-scripts>

{% assign dropdown_options = options | split: ',' %}

{% capture label %}
  <label class="dropdown-label label-font{% if label_class %} {{ label_class }}{% endif %}" {% if id %}for="{{ id }}" {% endif %}>{{ label_text }}</label>
{% endcapture %}

<theme-dropdown 
  class="product-block-dropdown-field input-wrapper"
  {% if attributes %}{{ attributes }}{% endif %}
  {% if classes %}{{ classes }}{% endif %}
>
  <div class="input-error-container"></div>
  
  <div class="form-input-wrapper{% if container_classes %} {{ container_classes }}{% endif %}">
    {{ label }}

    {% if hint_text != blank %}
      <div class="form-input-hint text-link-animated">{{ hint_text }}</div>
    {% endif %}

    <div class="dropdown-container">
      <button 
        class="dropdown-button" 
        data-dropdown-trigger
        aria-expanded="false"
        aria-haspopup="listbox"
        aria-controls="dropdown-options-{{ id }}"
      >
        <span data-dropdown-text>{{ 'general.forms.choose_an_option' | t }}</span>

        <span class="dropdown-icon inline-icon--wrapper">
          {% render 'theme-icon' with icon: 'chevron_down' %}
        </span>
      </button>

      <ul 
        role="listbox"
        id="dropdown-options-{{ id }}"
        data-dropdown-options 
        class="dropdown-options" 
        style="display:none;"
      >
        {% for option in dropdown_options %}
          <li class="dropdown-option" data-value="{{ option | escape }}" tabindex="0">{{ option | escape }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <input 
    type="hidden" 
    id="{{ id }}" 
    name="{{ name }}"
    value=""
    data-dropdown-input
    custom-dropdown-input
    {% if required %}required{% endif %}
    {% if data_aid %}{{ data_aid }}{% endif %}
    {% if form_id %}form="{{ form_id }}"{% endif %}
    {% if error_message %}data-error-message="{{ error_message | escape }}"{% endif %}
  >
</theme-dropdown>