{{ 'template-gift-card.min.css' | asset_url | stylesheet_tag: preload: true }}
<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>

{% liquid 
  assign gift_card_expiry_date = gift_card.expires_on | date: '%d,%m,%y'
  assign currency_code = shop.currency
  assign currency_code_formatted = ' ' | append: currency_code

  if settings.show_currency_code
    assign gift_card_balance = gift_card.balance | money_with_currency | replace: ' ', '' | replace: currency_code, currency_code_formatted
  else
    assign gift_card_balance = gift_card.balance | money | replace: ' ', '' | replace: currency_code, currency_code_formatted
  endif

  assign mobile_bg_class = ''
  if section.settings.background_image_desktop == blank and section.settings.background_image_mobile == blank and section.settings.background_color == 'rgba(0,0,0,0)'
    assign mobile_bg_class = 'no-bg-mobile'
  endif
%}

{% style %}
  #gift-card-template .gift-card-logo {
    width: {{ section.settings.logo_max_width }}px !important;
    max-width: 100% !important;
    height: auto;
  }

  @media only screen and (min-width: 768px) {
    #gift-card-template .gift-card-logo {
      width: {{ section.settings.logo_max_width }}px !important;
      max-width: {{ section.settings.logo_max_width }}px !important;
      height: auto;
    }
  }

  {% if section.settings.background_color != 'rgba(0,0,0,0)' %}
    #gift-card-template .gift-card-image-wrapper {
      background-color: {{ section.settings.background_color }};
    }
  {% endif %}

  {% comment %} Mobile background image {% endcomment %}
  {% if section.settings.background_image_mobile or section.settings.background_image_desktop %}
    @media only screen and (max-width: 767px) {
      {% liquid 
        if section.settings.background_image_mobile
          assign background_image_mobile = section.settings.background_image_mobile
        elsif section.settings.background_image_desktop
          assign background_image_mobile = section.settings.background_image_desktop
        endif
      %}
      {% render 'responsive-background-image' with background_image_mobile, selector: '.gift-card-image-wrapper' %}
    }
  {% endif %}

  {% comment %} Desktop background image {% endcomment %}
  {% if section.settings.background_image_desktop %}
    @media only screen and (min-width: 768px) {
      {% liquid 
        assign background_image_desktop = section.settings.background_image_desktop
      %}
      {% render 'responsive-background-image' with background_image_desktop, selector: '.gift-card-image-wrapper' %}
    }
  {% endif %}
{% endstyle %}

<safe-load-scripts class="hidden">
  <script src="{{ 'component-gift-card.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="gift-card"></script>
</safe-load-scripts>

<gift-card data-qr-code-enabled="{{ section.settings.show_qr_code }}" id="gift-card-template" class="gift-card-wrapper{% if mobile_bg_class != '' %} {{ mobile_bg_class }}{% endif %}">
  {% comment %} Image (print preview only) {% endcomment %}
  {% if section.settings.logo %}
    <a class="store-logo hidden print-only" href="{{ shop.url }}">
      {% liquid 
        assign alt = shop.name | escape
        if section.settings.logo.alt
          assign alt = section.settings.logo.alt | escape
        endif

        assign attributes = 'itemprop="logo"'
        assign img_classes = 'gift-card-logo'
      %}
      {% render 'responsive-image' with section.settings.logo, alt: alt, props: attributes, class: img_classes, loading: 'eager' %}
    </a>
  {% endif %}

  {% comment %} Gift card preview {% endcomment %}
  {% if section.settings.show_gift_card_preview %}
    <div class="gift-card-image-wrapper wrapper-spacing--v--template">
      {% comment %} Gift card image {% endcomment %}
      {% liquid 
        if section.settings.animation_enabled
          assign card_img_classes = 'gift-card-image theme-img animation-float'
        else
          assign card_img_classes = 'gift-card-image theme-img'
        endif
      %}

      {% if section.settings.gift_card_image %}
        {% liquid 
          assign gift_card_image = section.settings.gift_card_image
          assign gift_card_image_alt = gift_card_image.alt | default: shop.name
        %}
        
        {% render 'responsive-image' with gift_card_image, alt: gift_card_image_alt, allow_stretch: true, class: card_img_classes, loading: 'eager' %}
      {% else %}
        <img class="{{ card_img_classes }}" src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration" loading="eager">
      {% endif %}
    </div>
  {% endif %}

  <div class="gift-card-content wrapper-spacing--v--template{% unless section.settings.show_gift_card_preview %} no--image{% endunless %}">
    {% comment %} ===== HEADER ===== {% endcomment %}
    <div class="gift-card-content-header">
      {% comment %} Logo {% endcomment %}
      {% if section.settings.logo %}
        <a class="store-logo" href="{{ shop.url }}">
            {% liquid 
              assign alt = shop.name | escape
              if section.settings.logo.alt
                assign alt = section.settings.logo.alt | escape
              endif

              assign attributes = 'itemprop="logo"'
              assign img_classes = 'gift-card-logo'
            %}
            {% render 'responsive-image' with section.settings.logo, alt: alt, props: attributes, class: img_classes, loading: 'eager' %}
        </a>
      {% endif %}

      {% comment %} Heading {% endcomment %}
      {% liquid 
        if gift_card.customer
          assign heading = 'gift_cards.issued.heading' | t
        else
          assign heading = 'gift_cards.issued.heading_guest' | t: customer: gift_card.customer
        endif

        assign heading_print = 'gift_cards.issued.heading_print' | t: shop_name: shop.name
      %}
      <div class="h1 gift-card-heading">
        <span class="heading hidden print-only">{{ heading_print }}</span>
        <span class="heading">{{ heading }}</span>
      </div>

      {% comment %} Balance and expiry {% endcomment %}
      <div class="gift-card-balance-wrapper">
        <div class="balance-information">
          <div class="balance-value">{{ 'gift_cards.issued.balance' | t }}: {{ gift_card_balance }}</div>
        </div>

        <div class="expiry-badge custom-badge">
          {%- if gift_card.enabled == false or gift_card.expired -%}
            <span class="expiry-badge-text">{{ 'gift_cards.issued.expired' | t }}</span>
          {%- else -%}
            <span class="expiry-badge-text">
              {{ 'gift_cards.issued.expires' | t }} 
              {% if gift_card.expires_on %}
                {{ gift_card_expiry_date }}
              {% else %}
                {{ 'gift_cards.issued.placeholder_expiry_date' | t }}
              {% endif %}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>

    {% comment %} ===== BODY ===== {% endcomment %}
    <div class="gift-card-content-body">
      {% comment %} Gift card preview (print only) {% endcomment %}
      {% if section.settings.show_gift_card_preview %}
        <div class="gift-card-image-wrapper hidden print-only">
          {% comment %} Gift card image {% endcomment %}
          {% liquid 
            if section.settings.animation_enabled
              assign card_img_classes = 'gift-card-image theme-img animation-float'
            else
              assign card_img_classes = 'gift-card-image theme-img'
            endif
          %}
    
          {% if section.settings.gift_card_image %}
            {% liquid 
              assign gift_card_image = section.settings.gift_card_image
              assign gift_card_image_alt = gift_card_image.alt | default: shop.name
            %}
            
            {% render 'responsive-image' with gift_card_image, alt: gift_card_image_alt, allow_stretch: true, class: card_img_classes, loading: 'eager' %}
          {% else %}
            <img class="{{ card_img_classes }}" src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration" loading="eager">
          {% endif %}
        </div>
      {% endif %}

      <div class="gift-card-redeem-text">
        {{ 'gift_cards.issued.redeem' | t }}
      </div>

      {% comment %} Gift card code {% endcomment %}
      <div class="gift-card-code-wrapper">
        <div data-gift-card-code class="gift-card-code" tabindex="0">{{ gift_card.code | format_code }}</div>
        <button data-copy-btn class="btn gift-card-copy-btn">{{ 'gift_cards.issued.copy' | t }}</button>
      </div>

      {% comment %} Gift card QR code {% endcomment %}
      {% if section.settings.show_qr_code %}
        <div class="gift-card-qr-text">
          {{ 'gift_cards.issued.qr_code_text' | t }}
        </div>

        <div class="gift-card-qr-code-wrapper">
          <div data-gift-card-qr-code class="gift-card-qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
        </div>
      {% endif %}

      {% comment %} Print link {% endcomment %}
      <div class="gift-card-print-link text-inline-link-animated">
        <a href="#" class="inline-icon--wrapper" onclick="window.print(); return false;" data-print-link>
          {% render 'theme-icon' with icon: 'print' %}
          {{ 'gift_cards.issued.print' | t }}
        </a>
      </div>
    </div>
  </div>
</gift-card>

{% # theme-check-disable %}
{% schema %}
{
  "name": "t:sections.gift-card.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.gift-card.settings.gift_card_preview"
    },
    {
      "type": "checkbox",
      "id": "show_gift_card_preview",
      "label": "t:sections.gift-card.settings.show_gift_card_preview.label",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "gift_card_image",
      "label": "t:sections.gift-card.settings.images.gift_card_image.label",
      "info": "t:sections.gift-card.settings.images.gift_card_image.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.gift-card.settings.images.paragraph"
    },
    {
      "type": "checkbox",
      "id": "animation_enabled",
      "label": "t:all.Enable_animation",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:all.Background_color",
      "default": "rgba(0,0,0,0)",
      "info": "t:sections.gift-card.settings.color.info"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.gift-card.settings.images.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.gift-card.settings.images.background_image_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.gift-card.settings.images.header_image.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:all.Image",
      "info": "t:all.Optional"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 410,
      "step": 10,
      "unit": "t:all.px",
      "label": "t:all.Preferred_width",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:all.Options"
    },
    {
      "type": "checkbox",
      "id": "show_qr_code",
      "label": "t:sections.gift-card.settings.show_qr_code.label",
      "info": "t:sections.gift-card.settings.show_qr_code.info",
      "default": true
    }   
  ]
}
{% endschema %}
{% # theme-check-enable %}