{{ 'section-image-with-text-slideshow.min.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 1 %}
  <safe-load-scripts class="hidden">
    <script src="{{ 'component-image-with-text-slideshow.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="image-with-text-slideshow"></script>
  </safe-load-scripts>
{% endif %}

{%-  liquid
  assign full_width = false
  if section.settings.section_width == 'full-width'
    assign full_width = true
  endif
-%}

<div
	class="image-with-text-slideshow wrapper-spacing--v color-scheme--{{ section.settings.colors }}{% unless full_width %} wrapper-spacing--h{% endunless %}{% if request.visual_preview_mode %} animated fadeIn{% else %} show-on-scroll{% endif %}"
  data-wetheme-section-type="image-with-text-slideshow"
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px; --heading-size-desktop: {{ section.settings.heading_font_size_desktop }}px; --heading-size-mobile: {{ section.settings.heading_font_size_mobile }}px; --text-size-desktop: {{ section.settings.text_font_size_desktop }}px; --text-size-mobile: {{ section.settings.text_font_size_mobile }}px;"
>
	<div {% unless full_width %}class="width--{{ section.settings.section_width }}"{% endunless %}>
		{% comment %} Section title and description {% endcomment %}
    {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description %}

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {% else %}
      <image-with-text-slideshow data-section-id="{{ section.id }}">
        <div class="image-with-text-slideshow__slider-wrapper" data-grid-slider-wrapper>

          {% if section.blocks.size > 1 %}
            <!-- navigation -->
            {% assign navigation_id = 'navigation--' | append: section.id %}
            <div class="swiper-btn--wrapper small-hide swiper-btn-layout__{{ section.settings.hover_navigation_desktop }}">
              <div class="swiper-button--prev btn dynamic-section-button--{{ navigation_id }}">
                {% render 'theme-icon', icon: 'chevron_left' %}
              </div>
              <div class="swiper-button--next btn dynamic-section-button--{{ navigation_id }}">
                {% render 'theme-icon', icon: 'chevron_right' %}
              </div>
            </div>

            {% if section.settings.override_navigation_button_colors %}
              {% render 'button-color-overrides' with
                id: navigation_id,
                style: 'filled',
                text_color: section.settings.button_text_color,
                background_color: section.settings.button_background_color
              %}
            {% endif %}
          {% endif %}

          <div class="swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}

                {% capture media_content %}
                  <div class="image-with-text-slideshow__media-content image-with-text-slideshow__aspect-ratio--{{ section.settings.image_shape }}">
                    {% case block.type %}  
                      {% when 'image_and_text' %}
                        {% if block.settings.image != blank %}
                          {% render 'responsive-image' with block.settings.image %}
                        {% else %}
                          {% capture svg_index %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'collection-' | append: svg_index | placeholder_svg_tag: 'icon icon--placeholder' }}
                        {% endif %}

                      {% when 'video_and_text' %}
                        {%- liquid
                          assign defer_video = true
                          if forloop.first or request.design_mode
                            assign defer_video = false
                          endif
                        -%}
                        <div class="image-with-text-slideshow__video-wrapper" data-video-wrapper>
                          {% if defer_video %}
                            <template>
                          {% endif %}
                          {% if block.settings.video != blank %}
                            <div class="image-with-text-slideshow__video type-mp4" data-video-content>
                              {% render 'native-video' with video: block.settings.video, autoplay: true, loop: true, muted: true, overlay: true, overlay_button: false, controls: false %}
                            </div>
                          {% else %}
                            <div class="image-with-text-slideshow__video type-youtube" data-video-content>
                              {% if defer_video %}
                                <div class="embed-container type-youtube">
                                  <iframe
                                    src="https://www.youtube.com/embed/_9VUPq3SxOc?enablejsapi=1&autoplay=1&mute=1&loop=1&playlist=_9VUPq3SxOc&controls=0"
                                    class="js-youtube"
                                    frameborder="0"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen
                                    title="Share your brand story by adding a video to your store"
                                  ></iframe>
                                </div>
                              {% else %}
                                <wetheme-video
                                  section-id="{{ block.id }}"
                                  v-bind:hero="false"
                                  video-type="youtube"
                                  url="https://www.youtube.com/watch?v=_9VUPq3SxOc"
                                  v-bind:autoplay="true"
                                  v-bind:loop="true"
                                  v-bind:mute="true"
                                  v-bind:hide-controls="true"
                                  v-bind:overlay="true"
                                >
                                </wetheme-video>
                              {% endif %}
                            </div>
                          {% endif %}
                          {% if defer_video %}
                            </template>
                          {% endif %}
                        </div>
                    {% endcase %}
                  </div>
                {% endcapture %}

                {% capture text_content %}
                  <style>
                      {% if block.settings.text_color != 'rgba(0,0,0,0)' %}
                        .image-with-text-slideshow__block--{{ block.id }} {
                          color: {{ block.settings.text_color }};
                          --link-color: {{ block.settings.text_color }};
                          --link-border-color: {{ block.settings.text_color | color_modify: 'alpha', 0.50 }};
                          --text-color-transparent25: {{ block.settings.text_color | color_modify: 'alpha', 0.25 }};
                        }
                      {% endif %}
                      </style>
                  <div class="image-with-text-slideshow__text-content image-with-text-slideshow__block--{{ block.id }} image-with-text-slideshow__desktop-position--{{ block.settings.text_position_desktop }} image-with-text-slideshow__desktop-alignment--{{ block.settings.text_alignment_desktop }} image-with-text-slideshow__mobile-alignment--{{ block.settings.text_alignment_mobile }}">
                    <div class="image-with-text-slideshow__text-content-inner">
                      {% if block.settings.subheading != blank %}
                        <div class="image-with-text-slideshow__subheading">{{ block.settings.subheading }}</div>
                      {% endif %}

                      {% if block.settings.heading != blank %}
                        <h3 class="image-with-text-slideshow__heading">{{ block.settings.heading }}</h3>
                      {% endif %}

                      {% if block.settings.text != blank %}
                        <div class="image-with-text-slideshow__text rte text-link-animated">{{ block.settings.text }}</div>
                      {% endif %}

                      {% if block.settings.page.content %}
                        <div class="rte text-link-animated">{{ block.settings.page.content }}</div>
                      {% endif %}

                      {%- liquid
                        assign has_button = false
                        assign has_first_button = false
                        assign has_second_button = false
                        if block.settings.first_button_label != blank
                          assign has_button = true
                          assign has_first_button = true
                        endif
                        if block.settings.second_button_label != blank
                          assign has_button = true
                          assign has_second_button = true
                        endif
                      -%}

                      {% if has_button %}
                        <div class="image-with-text-slideshow__buttons{% if block.settings.buttons_style == 'underlined' %} text-link-animated{% endif %}">
                          {% if block.settings.override_button_colors %}
                            {% render 'button-color-overrides' with
                              id: block.id,
                              style: block.settings.buttons_style,
                              text_color: block.settings.color_button_text,
                              background_color: block.settings.color_button_background
                            %}
                          {% endif %}
                          {% if has_first_button %}
                            {% render 'dynamic-section-button' with
                              id: block.id,
                              link: block.settings.first_button_link,
                              label: block.settings.first_button_label,
                              style: block.settings.buttons_style,
                              wrapper: false
                            %}
                          {% endif %}
                          {% if has_second_button %}
                            {% render 'dynamic-section-button' with
                              id: block.id,
                              link: block.settings.second_button_link,
                              label: block.settings.second_button_label,
                              style: block.settings.buttons_style,
                              wrapper: false
                            %}
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endcapture %}

                {%- liquid
                  assign mobile_flex_reverse = false
                  if block.settings.media_position_desktop == 'left' and block.settings.media_position_mobile == 'bottom'
                    assign mobile_flex_reverse = true
                  endif
                  if block.settings.media_position_desktop == 'right' and block.settings.media_position_mobile == 'top'
                    assign mobile_flex_reverse = true
                  endif

                  assign slide_is_link = false
                  if block.settings.slide_link != blank and has_button == false
                    assign slide_is_link = true
                  endif
                -%}

                <div
                  data-swiper-slide-index="{{ forloop.index0 }}"
                  class="swiper-slide image-with-text-slideshow__slide image-with-text-slideshow__slide--{{ section.settings.image_size }}{% if mobile_flex_reverse %} image-with-text-slideshow__mobile-flex-reverse{% endif %}" {{ block.shopify_attributes }}
                  style="background-color: {{ block.settings.background_color }};"
                >
                  {% if block.settings.media_position_desktop == 'left' %}
                    {{ media_content }}
                  {% endif %}

                  {{ text_content }}

                  {% if block.settings.media_position_desktop == 'right' %}
                    {{ media_content }}
                  {% endif %}

                  {% if slide_is_link %}
                    <a href="{{ block.settings.slide_link }}" class="image-with-text-slideshow__slide-link"></a>
                  {% endif %}
                </div>

              {% endfor %}
            </div>
          </div>

          {% if section.blocks.size > 1 %}
            <!-- scrollbar -->
            <div class="swiper-scrollbar large-hide"></div>
          {% endif %}
        </div>
      </image-with-text-slideshow>
    {% endif %}
	</div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text-slideshow.name",
  "tag": "section",
  "class": "section--image-with-text-slideshow",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "range",
      "id": "heading_font_size_desktop",
      "label": "t:all.heading_font_size",
      "min": 12,
      "max": 112,
      "unit": "t:all.px",
      "default": 28
    },
    {
      "type": "range",
      "id": "text_font_size_desktop",
      "label": "t:all.text_font_size",
      "min": 12,
      "max": 112,
      "unit": "t:all.px",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "label": "t:all.heading_font_size",
      "min": 12,
      "max": 112,
      "unit": "t:all.px",
      "default": 28
    },
    {
      "type": "range",
      "id": "text_font_size_mobile",
      "label": "t:all.text_font_size",
      "min": 12,
      "max": 112,
      "unit": "t:all.px",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:all.Image"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:all.Size_desktop",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:all.Small"
        },
        {
          "value": "medium",
          "label": "t:all.Medium"
        },
        {
          "value": "large",
          "label": "t:all.Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "t:all.Shape",
      "default": "square",
      "options": [
        {
          "value": "natural",
          "label": "t:all.Original"
        },
        {
          "value": "circle",
          "label": "t:all.Circle"
        },
        {
          "value": "square",
          "label": "t:all.Square"
        },
        {
          "value": "tall",
          "label": "t:all.Tall"
        },
        {
          "value": "wide",
          "label": "t:all.Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.slides"
    },
    {
      "type": "radio",
      "id": "hover_navigation_desktop",
      "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.label",
      "options": [
        {
          "value": "left-and-right",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.left_and_right"
        },
        {
          "value": "right",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.right"
        },
        {
          "value": "above",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.above"
        },
        {
          "value": "none",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.none"
        }
      ],
      "default": "left-and-right"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:all.Width",
      "options": [
        {
          "value": "full-width",
          "label": "t:all.Full_width"
        },
        {
          "value": "content",
          "label": "t:all.Content_width"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text-slideshow.settings.navigation_button_color.label"
    },
    {
      "type": "checkbox",
      "id": "override_navigation_button_colors",
      "label": "t:sections.image-with-text-slideshow.settings.navigation_button_color.settings.override_navigation_button_colors.label",
      "default": false,
      "info": "t:sections.image-with-text-slideshow.settings.navigation_button_color.settings.override_navigation_button_colors.info"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:sections.image-with-text-slideshow.settings.navigation_button_color.settings.primary_color.label",
      "default": "#E68819"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.image-with-text-slideshow.settings.navigation_button_color.settings.secondary_color.label",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image_and_text",
      "name": "t:sections.template--product--info-columns.blocks.image_and_text.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image",
          "info": "t:sections.image-with-text-slideshow.settings.image_info"
        },
        {
          "type": "header",
          "content": "t:all.Content"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:all.Subheading",
          "default": "Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Use text paired with images to create a captivating brand story, explain details of your products, or highlight store promotions.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:all.page"
        },
        {
          "type": "header",
          "content": "t:all.slide_link"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "t:all.Link",
          "info": "t:all.optional_link_removed_when_button_is_added"
        },
        {
          "type": "header",
          "content": "t:all.Buttons"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:all.first_button_link"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "label": "t:all.first_button_label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:all.second_button_link"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:all.second_button_label"
        },
        {
          "type": "select",
          "id": "buttons_style",
          "label": "t:all.button_style",
          "default": "filled",
          "options": [
            {
              "value": "filled",
              "label": "t:all.Filled"
            },
            {
              "value": "outlined",
              "label": "t:all.Outlined"
            },
            {
              "value": "underlined",
              "label": "t:all.underlined"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "override_button_colors",
          "label": "t:all.Button_color_override",
          "default": false,
          "info": "t:all.Button_color_override_info"
        },
        {
          "type": "color",
          "id": "color_button_background",
          "label": "t:all.Primary_color",
          "default": "#E68819"
        },
        {
          "type": "color",
          "id": "color_button_text",
          "label": "t:all.Secondary_color",
          "default": "#ffffff",
          "info": "t:all.Secondary_button_color_info"
        },
        {
          "type": "header",
          "content": "t:all.Desktop"
        },
        {
          "type": "select",
          "id": "media_position_desktop",
          "label": "t:all.image_position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:all.Left"
            },
            {
              "value": "right",
              "label": "t:all.Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position_desktop",
          "label": "t:all.Content_position",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "t:all.Top"
            },
            {
              "value": "center",
              "label": "t:all.Center"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            }
          ]
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_desktop",
          "label": "t:all.Text_alignment",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:all.Mobile"
        },
        {
          "type": "select",
          "id": "media_position_mobile",
          "label": "t:all.image_position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "t:all.Top"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            }
          ]
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_mobile",
          "label": "t:all.Text_alignment",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:all.Color"
        },
        {
          "type": "paragraph",
          "content": "t:all.If_a_color_is_selected_it_will_override_the_section_colors"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:all.Text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:all.Background",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "video_and_text",
      "name": "t:sections.template--product--info-columns.blocks.video_and_text.name",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "t:all.Video"
        },
        {
          "type": "header",
          "content": "t:all.Content"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:all.Subheading",
          "default": "Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Use text paired with images to create a captivating brand story, explain details of your products, or highlight store promotions.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:all.page"
        },
        {
          "type": "header",
          "content": "t:all.slide_link"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "t:all.Link",
          "info": "t:all.optional_link_removed_when_button_is_added"
        },
        {
          "type": "header",
          "content": "t:all.Buttons"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:all.first_button_link"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "label": "t:all.first_button_label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:all.second_button_link"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:all.second_button_label"
        },
        {
          "type": "select",
          "id": "buttons_style",
          "label": "t:all.button_style",
          "default": "filled",
          "options": [
            {
              "value": "filled",
              "label": "t:all.Filled"
            },
            {
              "value": "outlined",
              "label": "t:all.Outlined"
            },
            {
              "value": "underlined",
              "label": "t:all.underlined"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "override_button_colors",
          "label": "t:all.Button_color_override",
          "default": false,
          "info": "t:all.Button_color_override_info"
        },
        {
          "type": "color",
          "id": "color_button_background",
          "label": "t:all.Primary_color",
          "default": "#E68819"
        },
        {
          "type": "color",
          "id": "color_button_text",
          "label": "t:all.Secondary_color",
          "default": "#ffffff",
          "info": "t:all.Secondary_button_color_info"
        },
        {
          "type": "header",
          "content": "t:all.Desktop"
        },
        {
          "type": "select",
          "id": "media_position_desktop",
          "label": "t:all.video_position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:all.Left"
            },
            {
              "value": "right",
              "label": "t:all.Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position_desktop",
          "label": "t:all.Content_position",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "t:all.Top"
            },
            {
              "value": "center",
              "label": "t:all.Center"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            }
          ]
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_desktop",
          "label": "t:all.Text_alignment",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:all.Mobile"
        },
        {
          "type": "select",
          "id": "media_position_mobile",
          "label": "t:all.video_position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "t:all.Top"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            }
          ]
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_mobile",
          "label": "t:all.Text_alignment",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:all.Color"
        },
        {
          "type": "paragraph",
          "content": "t:all.If_a_color_is_selected_it_will_override_the_color_scheme"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:all.Text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:all.Background",
          "default": "rgba(0,0,0,0)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-slideshow.name",
      "blocks": [
        {
          "type": "image_and_text",
          "settings": {
            "heading": "Image with text slideshow"
          }
        },
        {
          "type": "image_and_text",
          "settings": {
            "heading": "Image with text slideshow"
          }
        },
        {
          "type": "image_and_text",
          "settings": {
            "heading": "Image with text slideshow"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
