{%- liquid
  assign banner_linklist = section.settings.banner_linklist
  assign collection_list = section.settings.collection_list

  assign list = linklists[banner_linklist].links
  assign count = list.size
  
  if collection_list != blank
    assign list = collection_list
    assign count = list.count
  endif
-%}
{% if count > 0 %}
  {{ 'section-navigation-banner.min.css' | asset_url | stylesheet_tag }}

  <safe-load-scripts class="hidden">
    <script src="{{ 'component-navigation-banner.js' | asset_url }}" defer="defer" type="module" data-internal-script data-flow-load-key="component-navigation-banner"></script>
  </safe-load-scripts>

  {% if section.settings.override_button_colors %}
    {% render 'button-color-overrides' with
      id: section.id,
      style: section.settings.buttons_style,
      text_color: section.settings.nav_text_color,
      background_color: section.settings.nav_background_color
    %}
  {% endif %}
  
  <div
    class="navigation-banner navigation-banner--{{ section.id }} wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}"
    data-wetheme-section-type="navigation-banner"
    data-wetheme-section-id="{{ section.id }}"
    style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
  >
    <div class="width--content">
      {% comment %} Section title and description {% endcomment %}
      {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description %}

      {% liquid
        if section.settings.buttons_style == 'underlined'
          assign grid_gap = 30
        else
          assign grid_gap = 15
        endif
      %}
      {% if section.settings.layout_style == 'slider' %}
        <nav-banner
          data-swiper-gap="{{ grid_gap }}"
          data-swiper-center="{% if section.settings.navigation_position == 'center' %}true{% else %}false{% endif %}"
        >
          <nav class="swiper navigation-banner__swiper">
            <div class="swiper-wrapper">
              {% for link in list %}
                <div class="swiper-slide{% if section.settings.buttons_style == 'underlined' %} text-link-animated{% endif %}">
                  {% render 'dynamic-section-button' with
                    id: section.id,
                    link: link.url,
                    label: link.title,
                    style: section.settings.buttons_style,
                    wrapper: false
                  %}
                </div>
              {% endfor %}
            </div>
            <div class="navigation-banner__swiper-next">
              {% render 'theme-icon', icon: 'chevron_right' %}
            </div>
          </nav>
        </nav-banner>
      {% else %}
        <nav style="--grid-gap: {{ grid_gap }}px; --grid-alignment: {{ section.settings.navigation_position }}">
          <ul class="navigation-banner__grid-list">
            {% for link in list %}
            <li class="{% if section.settings.buttons_style == 'underlined' %}text-link-animated{% endif %}">
                {% render 'dynamic-section-button' with
                  id: section.id,
                  link: link.url,
                  label: link.title,
                  style: section.settings.buttons_style,
                  wrapper: false
                %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.blog--navigation-banner.name",
  "class": "blog--navigation-banner show-on-scroll",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "header",
      "content": "t:all.Navigation"
    },
    {
      "type": "paragraph",
      "content": "t:sections.blog--navigation-banner.settings.navigation.paragraph"
    },
    {
      "type": "link_list",
      "id": "banner_linklist",
      "label": "t:all.Menu",
      "default": "main-menu"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:all.Collection_list"
    },
    {
      "type": "header",
      "content": "t:all.Buttons"
    },
    {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "outlined",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_button_colors",
      "label": "t:all.Button_color_override",
      "default": false,
      "info": "t:all.Button_color_override_info"
    },
    {
      "type": "color",
      "id": "nav_background_color",
      "label": "t:all.Primary_color",
      "default": "#E68819"
    },
    {
      "type": "color",
      "id": "nav_text_color",
      "label": "t:all.Secondary_color",
      "default": "#FFFFFF",
      "info": "t:all.Secondary_button_color_info"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "radio",
      "id": "layout_style",
      "label": "t:all.Style",
      "options": [
        {
          "value": "grid",
          "label": "t:all.Grid"
        },
        {
          "value": "slider",
          "label": "t:all.Slider"
        }
      ],
      "default": "slider"
    },
    {
      "type": "radio",
      "id": "navigation_position",
      "label": "t:sections.blog--navigation-banner.settings.navigation_position.label",
      "info": "t:sections.blog--navigation-banner.settings.navigation_position.info",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog--navigation-banner.presets.name"
    }
  ],
  "enabled_on": {
    "templates": [
      "404",
      "article",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "password",
      "product",
      "search",
      "blog"
    ],
    "groups": [
      "footer"
    ]
  }
}
{% endschema %}
