{{ 'section-product-info-columns.min.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }} .info-cols--slider {
    text-align: {{ section.settings.text_alignment_mobile }};
  }

  @media (min-width: 768px) {
    .section-{{ section.id }} .info-cols--slider {
      text-align: {{ section.settings.text_alignment }};
    }
  }
{% endstyle %}

{% assign grid_item_id = 'grid-item--' | append: section.id %}

{% if section.settings.override_button_colors %}
  {% render 'button-color-overrides' with
    id: grid_item_id,
    style: section.settings.buttons_style,
    text_color: section.settings.button_text_color,
    background_color: section.settings.button_background_color
  %}
{% endif %}

<safe-load-scripts class="hidden">
  <script src="{{ 'component-info-columns.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="info-columns"></script>
</safe-load-scripts>

<info-columns
	class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }} info-cols section-{{ section.id }}{% if request.visual_preview_mode %} animated fadeIn{% else %} show-on-scroll{% endif %}"
  data-wetheme-section-type="template--product--info-columns"
	data-wetheme-section-id="{{ section.id }}"
	data-slides-per-row="{{ section.settings.columns_per_row }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>

{% if section.settings.title != blank or section.settings.description != blank %}
  <div class="section-title--wrapper{% if section.settings.section_width == 'content' %} width--content{% endif %}">
    {% if section.settings.title != blank %}
      <h2 class="section-title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
      <div class="section-description text-link-animated subdued-text">{{ section.settings.description }}</div>
    {% endif %}
  </div>
{% endif %}

	<div class="info-cols__slider-wrapper{% if section.settings.section_width == 'content' %} width--content{% endif %}" data-grid-slider-wrapper>

    {% if section.blocks.size > section.settings.columns_per_row %}
			<!-- navigation -->
      {% assign navigation_id = 'navigation--' | append: section.id %}
      {% if section.settings.override_button_colors %}
        {% render 'button-color-overrides' with
          id: navigation_id,
          style: 'filled',
          text_color: section.settings.button_text_color,
          background_color: section.settings.button_background_color
        %}
      {% endif %}
      
      <div class="swiper-btn--wrapper small-hide swiper-btn-layout__{{ section.settings.hover_navigation_desktop }}">
        <div class="swiper-button--prev btn dynamic-section-button--{{ navigation_id }}">
          {% render 'theme-icon', icon: 'chevron_left' %}
        </div>
        <div class="swiper-button--next btn dynamic-section-button--{{ navigation_id }}">
          {% render 'theme-icon', icon: 'chevron_right' %}
        </div>
      </div>
		{% endif %}

		<div class="swiper info-cols--slider" data-number-of-slides="{{ section.blocks.size }}">
			<div class="swiper-wrapper vertical-align--{{ section.settings.vertical_alignment }}">
				{% for block in section.blocks %}

					<div class="info-cols--{{ block.type }}-column grid__item swiper-slide info-block-{{ block.id }}" {{ block.shopify_attributes }} data-swiper-slide-index="{{ forloop.index0 }}">
						{% case block.type %}
							{% when 'image_and_text' %}

								{%- liquid 
									if block.settings.image.alt != blank 
										assign alt = block.settings.image.alt
									elsif block.settings.heading != blank 
										assign alt = block.settings.heading
									else
										assign alt = shop.name
									endif
								-%}
							
								{% if block.settings.button_link != blank %}
									<a aria-label="{{ alt }}" href="{{ block.settings.button_link }}" class="info-cols--image-is-link"><span class="sr-only">{{ alt }}</span>
								{% endif %}

								<div 
                  class="info-cols--image info-cols--media info-cols--media__desktop-alignment--{{ section.settings.text_alignment }} info-cols--media__mobile-alignment--{{ section.settings.text_alignment_mobile }}{% if block.settings.grid_image_size != 'natural' %} info-cols--media__aspect-ratio--{{ block.settings.grid_image_size }}{% endif %}" 
                  aria-hidden="true"
                >
									{% if block.settings.image == blank %}
										<div style="max-width: {{ section.settings.maximum_width }}px;width:100%;">
                      {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
                    </div>
									{% else %}
                    <div style="max-width: {{ section.settings.maximum_width }}px;">
										  {% render 'responsive-image' with block.settings.image, alt: alt, allow_stretch: true %}
                    </div>
									{% endif %}
								</div>

								{% if block.settings.button_link != blank %}
									</a>
								{% endif %}

								{% if block.settings.heading != '' %}
									<h3 class="info-cols--title">{{ block.settings.heading }}</h3>
								{% endif %}

								{% if block.settings.text != '' %}
									<div class="info-cols--text text-link-animated">{{ block.settings.text }}</div>
								{% endif %}

								{% if block.settings.button_text != '' %}
                  {% render 'dynamic-section-button' with
                    id: grid_item_id,
                    link: block.settings.button_link,
                    label: block.settings.button_text,
                    style: section.settings.buttons_style,
                    div_classes: 'info-cols--link--wrapper'
                  %}
								{% endif %}

							{% when 'video_and_text' %}

								{% assign type = 'mp4' %}
								{% unless block.settings.video %}
									{% assign type = block.settings.video_url.type %}
								{% endunless %}
							
								{% if block.settings.button_link != blank %}
									<a aria-label="{{ alt }}" href="{{ block.settings.button_link }}" class="info-cols--image-is-link"><span class="sr-only">{{ alt }}</span>
								{% endif %}

                <div class="info-cols--media info-cols--media__desktop-alignment--{{ section.settings.text_alignment }} info-cols--media__mobile-alignment--{{ section.settings.text_alignment_mobile }}">
                  <div 
                    class="info-cols--video-wrapper info-cols--media__aspect-ratio--{{ block.settings.grid_video_size }}"
                    style="max-width: {{ section.settings.maximum_width }}px;"
                  >
                    <div class="info-cols--video type-{{ type }} size-{{ block.settings.grid_video_size }}">
                      {% if block.settings.video %}
                        {% render 'native-video' with video: block.settings.video, autoplay: true, loop: true, muted: true, overlay: true, overlay_button: false, controls: false %}
                      {% elsif block.settings.video_url %}
                        <wetheme-video
                        section-id="{{ block.id }}"
                        v-bind:hero="false"
                        video-type="{{ type }}"
                        url="{{ block.settings.video_url }}"
                        v-bind:autoplay="true"
                        v-bind:loop="true"
                        v-bind:mute="true"
                        v-bind:hide-controls="true"
                        v-bind:overlay="true"
                        >
                        </wetheme-video>
                      {% else %}
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder icon--placeholder--subdued' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}
                      {% endif %}
                    </div>
                  </div>
                </div>

								{% if block.settings.button_link != blank %}
									</a>
								{% endif %}

								{% if block.settings.heading != '' %}
									<h3 class="info-cols--title">{{ block.settings.heading }}</h3>
								{% endif %}

								{% if block.settings.text != '' %}
									<div class="info-cols--text text-link-animated">{{ block.settings.text }}</div>
								{% endif %}

								{% if block.settings.button_text != '' %}
                  {% render 'dynamic-section-button' with
                    id: grid_item_id,
                    link: block.settings.button_link,
                    label: block.settings.button_text,
                    style: section.settings.buttons_style,
                    div_classes: 'info-cols--link--wrapper'
                  %}
								{% endif %}

							{% when 'text' %}
							
								{% if block.settings.button_text == '' and block.settings.button_link != blank %}
									<a href="{{ block.settings.button_link }}">
								{% endif %}

								{% if block.settings.heading != '' %}
									<h3 class="info-cols--title">{{ block.settings.heading }}</h3>
								{% endif %}

								{% if block.settings.text != '' %}
									<div class="info-cols--text text-link-animated">{{ block.settings.text }}</div>
								{% endif %}

								{% if block.settings.button_text == '' and block.settings.button_link != blank %}
									</a>
								{% endif %}

								{% if block.settings.button_text != '' %}
                  {% render 'dynamic-section-button' with
                    id: grid_item_id,
                    link: block.settings.button_link,
                    label: block.settings.button_text,
                    style: section.settings.buttons_style,
                    div_classes: 'info-cols--link--wrapper'
                  %}
								{% endif %}

						{% endcase %}
					</div>

				{% endfor %}
			</div>

			{% if section.blocks.size > 1 %}
				<div class="swiper-pagination"></div>
			{% endif %}

			{% if section.blocks.size == 0 %}
				<div class="placeholder-noblocks">
					{{ 'general.onboarding.no_content' | t }}
				</div>
			{% endif %}

		</div>
	</div>
</info-columns>

{% schema %}
{
  "name": "t:sections.template--product--info-columns.name",
  "class": "product-section--info-columns",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:all.Heading",
      "default": "Info columns"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description",
      "default": "<p>Emphasise your messaging</p>"
    },
    {
      "type": "header",
      "content": "t:all.Buttons"
    },
    {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "underlined",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_button_colors",
      "label": "t:all.Button_color_override",
      "default": false,
      "info": "t:all.Button_color_override_info"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:all.Primary_color",
      "default": "#E68819"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:all.Secondary_color",
      "default": "#ffffff",
      "info": "t:all.Secondary_button_color_info"
    },
    {
      "type": "header",
      "content": "t:sections.template--product--info-columns.settings.image_or_video.label"
    },
    {
      "type": "range",
      "id": "maximum_width",
      "min": 50,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "t:sections.template--product--info-columns.settings.image_or_video.maximum_width",
      "default": 500
    },
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "range",
      "id": "columns_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "t:sections.template--product--info-columns.settings.columns_per_row.label",
      "default": 3
    },
    {
      "type": "radio",
      "id": "text_alignment",
      "label": "t:all.Text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "vertical_alignment",
      "label": "t:sections.template--product--info-columns.settings.vertical_alignment.label",
      "options": [
        {
          "value": "top",
          "label": "t:all.Top"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        },
        {
          "value": "bottom",
          "label": "t:all.Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "radio",
      "id": "text_alignment_mobile",
      "label": "t:all.Text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:all.slides"
    },
    {
      "type": "radio",
      "id": "hover_navigation_desktop",
      "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.label",
      "options": [
        {
          "value": "left-and-right",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.left_and_right"
        },
        {
          "value": "right",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.right"
        },
        {
          "value": "above",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.above"
        },
        {
          "value": "none",
          "label": "t:settings_schema.Product_card.settings.hover_navigation_desktop.options.none"
        }
      ],
      "default": "left-and-right"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:all.Width",
      "default": "full",
      "options": [
        {
          "value": "full",
          "label": "t:all.Full_width"
        },
        {
          "value": "content",
          "label": "t:all.Content_width"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image_and_text",
      "name": "t:sections.template--product--info-columns.blocks.image_and_text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:all.Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "select",
          "id": "grid_image_size",
          "label": "t:all.Shape",
          "default": "square",
          "options": [
            {
              "value": "natural",
              "label": "t:all.Original"
            },
            {
              "value": "circle",
              "label": "t:all.Circle"
            },
            {
              "value": "square",
              "label": "t:all.Square"
            },
            {
              "value": "tall",
              "label": "t:all.Tall"
            },
            {
              "value": "wide",
              "label": "t:all.Wide"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:all.Text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Use text paired with images to create a captivating brand story, explain details of your products, or highlight store promotions.</p>"
        },
        {
          "type": "header",
          "content": "t:all.Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:all.Button_link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:all.Button_label",
          "info": "t:all.Required_to_show_the_button",
          "default": "Learn more"
        }
      ]
    },
    {
      "type": "video_and_text",
      "name": "t:sections.template--product--info-columns.blocks.video_and_text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:all.A_Shopify_hosted_video"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:all.Video"
        },
        {
          "type": "header",
          "content": "t:all.Or_embed_video_from_URL"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "t:all.Video",
          "info": "t:all.Accepts_YouTube_and_Vimeo__Video_will_be_muted_and_some_devices_may_prevent_autoplay__Learn_morehttps___support_eightthemes_com_hc_en_us_articles_360020109497_Product_Mediaheading_2",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "select",
          "id": "grid_video_size",
          "label": "t:all.Shape",
          "default": "square",
          "options": [
            {
              "value": "original",
              "label": "t:all.Original"
            },
            {
              "value": "circle",
              "label": "t:all.Circle"
            },
            {
              "value": "square",
              "label": "t:all.Square"
            },
            {
              "value": "tall",
              "label": "t:all.Tall"
            },
            {
              "value": "wide",
              "label": "t:all.Wide"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:all.Text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Use text paired with images to create a captivating brand story, explain details of your products, or highlight store promotions.</p>"
        },
        {
          "type": "header",
          "content": "t:all.Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:all.Button_link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:all.Button_label",
          "info": "t:all.Required_to_show_the_button",
          "default": "Learn more"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:all.Text",
      "settings": [
        {
          "type": "header",
          "content": "t:all.Text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Use text paired with images to create a captivating brand story, explain details of your products, or highlight store promotions.</p>"
        },
        {
          "type": "header",
          "content": "t:all.Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:all.Button_link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:all.Button_label",
          "info": "t:all.Required_to_show_the_button",
          "default": "Learn more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.template--product--info-columns.presets.name",
      "blocks": [
        {
          "type": "image_and_text"
        },
        {
          "type": "image_and_text"
        },
        {
          "type": "image_and_text"
        },
        {
          "type": "image_and_text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
